* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #F3F2EF;
  max-width: 1800px; /*Change later*/
  margin: 0 auto;
}

.app {
  margin: 0 10rem;
}

.container {
  background-color: #ffffff;
  border: 1px solid #E0DFDC;
  border-radius: 6px;
  padding: 1.2rem;
  max-width: 700px;
  margin-bottom: 0.5rem;
}

