:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 450;
  font-size: 14px;

  color-scheme: light dark;

  --light-color: rgb(238, 243, 249);
  --light-gray: rgb(235, 235, 235);
  --svg-content: rgb(83, 83, 83);
  --linkedin-blue: rgb(10, 102, 194);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #F3F2EF;
  max-width: 1800px; /*Change later*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  border-top: 0.01em solid #ebebeb;
}