.post {
  background-color: #ffffff;
  border: 1px solid #E0DFDC;
  border-radius: 6px;
  padding: 1.2rem 0;
  max-width: 700px;
  margin-bottom: 0.5rem;
  max-width: 555px;
}

.post--pad {
  padding: 0 1.2rem;
}

.post__header {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}

.post__content img {
  padding-top: 12px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.post__header .post__button {
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: flex-end; */
  align-items: flex-end;
}