.feed__module--container {
  background-color: #ffffff;
  border: 1px solid #E0DFDC;
  border-radius: 6px;
  max-width: 225px;
  margin-bottom: 0.5rem;
}

.feed__module--bg-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 52px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.feed__module--break-words {
  margin: 0 12px 16px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__module--linkID {
  text-decoration: none;
}
.feed__module--break-words:hover {
  cursor: pointer;
}
.feed__module--break-words:hover .feed__module--name{
  text-decoration: underline;
}

.feed__module--member-photo {
margin: -38px auto 12px;
border: 2px solid #ffffff;
background-color: transparent;
background-clip: content-box;
width: 72px;
height: 72px;
border-radius: 50%;
}

.feed__module--name {
  font-size: 16px;
  font-weight: bold;
}

.feed__module--short-description {
  padding: 0 12px;
  margin-top: .4rem;
  text-align: center;
  font-size: 12px;
  color: var(--svg-content);
}

.feed__module--view__impressions {
  font-size: 12px;
  font-weight: 600;
  color: var(--svg-content);
  padding: 0 12px;
}

.feed__module--view__impressions span {
  color: var(--linkedin-blue);
  padding-left: 4px;
}

.feed__module--view__impressions:hover {
  background: var(--light-gray);
  cursor: pointer;
}

.feed__module--items {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 8px;
}

.feed__module--items i {
  color: var(--svg-content);
}

.feed__module--insights,
.feed__module--items {
  padding: 12px;
  font-size: 12px;
}

.feed__module--insights span {
  color: var(--svg-content);
  font-weight: 500;
  display: block;
}
.feed__module--insights:hover,
.feed__module--items:hover {
  background: var(--light-gray);
}

.feed__module--premium {
  display: flex;
  gap: 4px;
}

.feed__module--premium span {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

.feed__module--insights:hover .feed__module--premium span {
  color: var(--linkedin-blue);
}

.hr__null {
  margin: 0;
}

.hr__btm {
  margin-bottom: 0;
}