.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(235, 235, 235);
  overflow: hidden;
  z-index: 100;
  position: fixed;
}

.navbar {
 max-width: 100vw;
  margin: 0 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  /*position: fixed;*/
  /*background-color: aquamarine;*/
}

nav.sticky {
  /*position: sticky;*/
  top: 0;
  z-index: 100;
}

.navbar .first {
  display: flex;
  flex-direction: row;
  gap: .2rem;
  align-items: center;
  justify-content: center;
}

.navbar .first div.nosubmit {
  width: 400px
}

.navbar .first input {
  border: none;
  box-shadow: none;
  color: black;
  font-size: 16px;
  line-height: 1.75;
  height: 34px;
  border-radius: 4px;
  padding: 0 .8rem 0 40px;
  background: rgb(238, 243, 249) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 14px center;
  width: 280px;
  transition: width .4s linear;
  outline: none;
}

.navbar .first input:focus {
  width: 384px;
  border: 2px solid rgb(10, 102, 194);
}

ul.second {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul.second li button {
  background-color: inherit;
  border: none;
  min-width: 80px;
  min-height: 52px;
  cursor: pointer;
  font-size: 12px;
}

.nav_link {
  min-height: 52px;
  min-width: 80px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  color: #0009;
}

.nav_link span {
  color: rgb(102, 102, 102);
  white-space: nowrap;
}

.nav_link svg {
  fill: rgb(102, 102, 102);
}

.nav_link:hover svg,
.nav_link.active svg {
  fill: #000000;
}

.nav_link:hover span,
.nav_link.active span{
  color: #000000;
}

.nav_link.active::after{
  transform: scaleX(1);
}

.nav_link::after {
  content: "";
  transform: scaleX(0);
  border-bottom: 2px solid black;
  transition: transform .2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

ul.second div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li .profile img {
  border-radius: 50%;
}

li i {
  color: inherit;
  width: 16px;
  height: 16px;
}

div.getHired {
  max-width: 100px;
  width: 100px;
}

div.getHired .navlink__getHired {
  color: rgb(146, 90, 10);
  text-decoration: underline;
  text-align: center;
  margin: auto;
}

.li-business {
  border-left: 1px solid #E0DFDC;
  padding-left: 0.8rem !important;
}

.li-getHired {
  display: flex;
}

ul.second li {
  position: relative;
}


@media screen and (max-width: 500px) {
  div.getHired {
    width: 70px;
  }
}